
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.home {
  width: 100%;
}

/* Hero */
.hero {
  height: 90vh;
 background: linear-gradient(to right, #38bdf8, #0ea5e9);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 15px;
}

.hero p {
  font-size: 18px;
  max-width: 600px;
  margin-bottom: 25px;
}

.hero button {
  padding: 12px 25px;
  border: none;
  background-color: white;
  color: #0ea5e9;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

/* About */
.about-section {
  padding: 60px 40px;
  text-align: center;
  background-color: #f8fafc;
}

.about-section h2 {
  font-size: 32px;
  margin-bottom: 15px;
}

.about-section p {
  max-width: 700px;
  margin: auto;
  font-size: 16px;
  color: #475569;
}

/* Services */
.services-section {
  padding: 60px 40px;
  text-align: center;
}

.services {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 30px;
  flex-wrap: wrap;
}

.card {
  background: white;
  padding: 25px;
  width: 260px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.card h3 {
  margin-bottom: 10px;
}

.card p {
  color: #475569;
}

/* Contact */
.contact-section {
  padding: 60px 40px;
  background-color: #1e293b;
  color: white;
  text-align: center;
}

.contact-section button {
  margin-top: 20px;
  padding: 12px 25px;
  border: none;
  background-color: #38bdf8;
  color: #1e293b;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.contact-section button:hover {
  background-color:  rgb(22, 161, 185);;
}
