.App{
  text-align: center;
  font-family: Arial, sans-serif;
  background:linear-gradient(to right, #38bdf8, #0ea5e9);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.card{
  background-color:white;
  margin: 20px;
  border-radius: 10px;
  padding: 30px 15px;
  width: 200px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 8px rgb(174, 169, 169);
  
  

}
.card img{
  width: 150px;
  height: 150px;
  border-radius: 8px;
}

.card h2{
  font-size: 16px;
  padding-top: 10px;
  
}

.card p{
  line-height: 0px;
  font-size: small;
}

.card span{
  font-weight: bold;
  color: green;
}

.card:hover{
  transform: scale(1.05);
  cursor: pointer;
  
}