
#navbar{
    display: flex;
    background-color: #0ea5e9;
    padding: 10px 0px;
    justify-content: space-evenly;
    align-items: center;
}

#nav_Links{
    display: flex;
    gap: 20px;
    margin-right: 10px;
}
#nav_Links >span {
    padding: 5px 20px;
    outline: none;
    border-radius: 3px;
    background-color: lightsalmon !important;
}

h2{

    padding: 5px;
    width: fit-content;
    
}

#logo{
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding: 5px 25px ;
    border-radius: 5px;
    flex-grow: 1;
}

#nav_Links > span:hover{
    background-color: coral !important;
    cursor: pointer;
    
}

link{
    text-decoration: none;
    color: black;
}